#hading1{
    display: flex;
    
}

#heading1 {
    display: flex;
    align-items: center;
}

.left-text {
    flex: 1;
}

#orangebenz {
    width: 300px;
    height: 200px;
}

.right-text{
text-align: left;
}

#toprated{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#toprated li{
    display: inline-block;
    list-style-type: none;
    width: auto;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

#toprated li .merc{
    background-color: orangered;
}
.carlist li{
    padding:2px;
    border: 1px solid black;
    margin-right: 0;
    border-radius: 5px;
   
}
.carlist>li> .merc{
    background-color: orangered;

}
span{
    color: orangered;
}
footer{
    display: flex;
    justify-content: space-between;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 0px;
  
}
.image-container{
    flex-basis: 45%;
    text-align: center;
    margin-left: 0px;
}
img{
    width: 200px;
    height: 200px;
}

/* .image-row {
  display: flex;
  justify-content: space-between;
}

.image-container {
  text-align: center;
  width: 300px;
  padding: 20px;
}

.image-container img {
  width: 200px%;
  height: 200px;
}

.image-container p {
  margin-top: 10px;
}

.image-container p.J,
.image-container p.K,
.image-container p.N {
  font-weight: bold;
} */

.rows{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
}

/* #firstRow .cars {
    display: flex;
    height: 200px;
    width: 200px;
    padding: 10px;

}
 #secondRow .cars{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    padding: 10px;
} */
#carswidth .cars{
    width: 80%;
}

.cars{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 00px;
    padding: 10px;
}
/* #firstRow >.cars{
    background-color: white;
    box-shadow: 2px 2px 0px grey;
} */


.left-text{
    text-align: left;
}


.apps{
    display: flex;
    justify-content: space-between;
}
